* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p {
    font-size: 12px;
}

/*_____ HEADER _____*/

header {
    background-color: #EAC926;
    padding: 5%;
}

.topHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.logo {
    width: 50%;
}

.busqueda {
    width: 50%;
    position: relative;

}

.busqueda input {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

#lupa {
    background-color: white;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 7px;

}

.pago {
    text-align: center;
}

.navBar {
    display: none;
}

.navBar ul li {
    list-style-type: none;
}

.navBar ul li a {
    text-decoration: none;
    color: black;
}

.menu {
    color: white;
    background-color: #1259c3;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    border-radius: 8px;
}


.banner,
.banner img {
    width: 100%;
}


/*_____ MAIN _____*/

main {
    width: 90%;
    margin: auto;
}

section {
    margin-top: 10px;
}

.productos {
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
    transition-duration: 0.4s;
}

.productos:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.imgP {
    width: 100%;
}

.infoP {
    border-top: 1px #ebebeb solid;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.infoP i {
    color: #39b54a;
    width: 30px;
    height: 30px;
    border: 2px #39b54a solid;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 20px;
    top: -15px;
}

.productos:hover .infoP i {
    animation: rotar 1s 1;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    width: 100%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 100%;
}

.descripciones {
    font-size: 16px;
    margin-top: 5%;
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease;

}

.productos:hover .descripciones {
    opacity: 1;
}

@keyframes rotar {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*_____ FOOTER _____*/

footer {
    padding: 5%;
    background-color: white;
}

footer section {
    padding: 10px;
    text-align: center;
}

footer section i {
    color: blue;
    font-size: 30px;
    padding: 10px;
    transition-duration: 0.4S;
}
footer section i:hover {
    color: rgb(10, 10, 97);
    font-size: 40px;
   
}

@media (min-width: 361px) {

    .logo,
    .busqueda,
    .pago {
        width: 30%;
    }

    .logo {
        max-width: 230px;
    }

    .navBar {
        display: flex;
        flex-wrap: wrap;
        font-size: 50%;
        justify-content: space-between;
        position: relative;
        top: 10px;
    }

    .navBar ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navBar ul li {
        margin-right: 5px;
    }

    .menu {
        display: none;
    }

    /* 
    .descripciones {
        display: block;
    } */

    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .productos {
        width: 47%;
    }

}

@media (min-width: 769px) {
    header {
        padding: 15px 5%;
        padding-bottom: 30px;
    }

    p {
        font-size: 16px;
    }

    h4 {
        font-size: 18px;
    }

    .productos {
        width: 22%;
    }
    .productos:hover{
        width: 23%;
    }

    .navBar {
        font-size: 100%;
        /* position: relative;
        top: 20px; */
    }

    .navBar ul li {
        margin-right: 15px;
    }

    .footerTop {
        display: flex;
        flex-wrap: nowrap;
    }

    footer section {
        padding: 0;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .copyright {
        position: relative;
        top: 20px;
    }
}