* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p {
    font-size: 12px;
}

/*_____ HEADER _____*/

header {
    background-color: #EAC926;
    padding: 5%;
}

.logo {
    width: 50%;
}

#lupa {
    background-color: white;
    border: 1px black solid;
    text-align: center;
}

.pago {
    text-align: center;
}
.navBar {
    display: none;
}
.navBar ul li {
    list-style-type: none;
}

.navBar ul li a {
    text-decoration: none;
    color: black;
}

.menu {
    color: white;
    background-color: #1259c3;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
}


.banner,
.banner img {
    width: 100%;
}


/*_____ MAIN _____*/

main {
    width: 90%;
    margin: auto;
}

.productos {
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
}

.imgP {
    width: 100%;
}

.infoP {
    border-top: 1px #ebebeb solid;
    padding: 15px;
}

.infoP i {
    color: #39b54a;
    width: 30px;
    height: 30px;
    border: 2px #39b54a solid;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
    margin-top: 5%;
    display: none;
}

/*_____ FOOTER _____*/

footer {
    padding: 5%;
}

footer section {
    padding: 5%;
    text-align: center;
}

footer section i {
    color: blue;
    font-size: 30px;
    padding: 10px;
}

@media (min-width: 361px) {
    .navBar {
        display: block;
    }
    .menu {
        display: none;
    }
    .descripciones {
        display: block;
    }
    .productos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769px) {}